{
  "openapi": "3.0.0",
  "info": {
    "title": "Jooto API",
    "version": "1.0",
    "description": "タスク・プロジェクト管理ツールJooto（https://www.jooto.com）のオープンAPIドキュメントです。Jooto APIはエンタープライズプランでのみご利用いただけます。不具合やご不明点等ございましたらお問い合わせよりご連絡くださいませ。"
  },
  "servers": [
    {
      "url": "https://api.jooto.com"
    }
  ],
  "paths": {
    "/v1/organization": {
      "parameters": [],
      "get": {
        "summary": "組織情報取得",
        "operationId": "get-organizations",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "description": "組織の詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "summary": "組織の更新",
        "operationId": "update-organization",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/OrganizationPatchRequestBody"
        },
        "description": "組織の更新",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/order"
        },
        {
          "$ref": "#/components/parameters/order_by"
        },
        {
          "$ref": "#/components/parameters/per_page"
        },
        {
          "$ref": "#/components/parameters/page"
        }
      ],
      "get": {
        "summary": "ユーザー一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrganizationUser"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-organizations-id-users",
        "description": "組織のユーザー一覧を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/notifications": {
      "get": {
        "summary": "お知らせ一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "notifications": {
                          "type": "array",
                          "description": "取得したお知らせの一覧",
                          "items": {
                            "$ref": "#/components/schemas/Activity"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-system_notifications",
        "description": "組織のお知らせを取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "parameters": []
    },
    "/v1/users/{id}/role": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ユーザーのID"
        }
      ],
      "put": {
        "summary": "ユーザー権限更新",
        "operationId": "put-organization-id-users-user_id-role",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUser"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/OrganizationUserRolePutRequestBody"
        },
        "description": "組織のユーザーの権限を更新する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/users/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ユーザーのID"
        }
      ],
      "get": {
        "summary": "ユーザー情報取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUser"
                }
              }
            }
          }
        },
        "operationId": "get-organization-id-users-user_id",
        "description": "組織のユーザーの詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards": {
      "get": {
        "summary": "プロジェクト一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "boards": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Board"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-projects",
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "archived",
            "description": "省略された場合は全てのプロジェクトを、false の場合はアーカイブされていないプロジェクトを、true の場合はアーカイブされたプロジェクトを返却します。"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/order_by_order_id_title"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "組織内プロジェクトの一覧を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "プロジェクト新規作成",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "operationId": "post-projects",
        "description": "プロジェクトを新規作成する",
        "requestBody": {
          "$ref": "#/components/requestBodies/BoardPostRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "parameters": []
    },
    "/v1/boards/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "get": {
        "summary": "プロジェクト情報取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "operationId": "get-boards-id",
        "description": "プロジェクトの詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "summary": "プロジェクト情報更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "operationId": "patch-boards-id",
        "description": "プロジェクトの詳細情報を更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/BoardPatchRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "アーカイブプロジェクト削除",
        "operationId": "delete-boards-id",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "description": "アーカイブされたプロジェクトを削除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/archive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "post": {
        "summary": "プロジェクトアーカイブ",
        "operationId": "post-boards-id-archive",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "description": "プロジェクトをアーカイブする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/unarchive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "post": {
        "summary": "アーカイブプロジェクト復元",
        "operationId": "post-boards-id-unarchive",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "description": "アーカイブプロジェクトの復元をする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/v1/boards/update_order": {
      "post": {
        "summary": "プロジェクト順序変更",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "boards": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Board"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "post-boards-update_order",
        "description": "プロジェクトの並び順を変更する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "board_ids": {
                    "type": "array",
                    "description": "プロジェクトのIDの配列",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "required": [
                  "board_ids"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/favorites": {
      "get": {
        "summary": "お気に入りプロジェクト一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "boards": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Board"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-favorites",
        "description": "組織内お気に入りプロジェクトの一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/order_by_order_id_title"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "お気に入りプロジェクト追加",
        "operationId": "post-boards-favorites",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "description": "お気に入りプロジェクトへ追加する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "board_id": {
                    "type": "string",
                    "description": "プロジェクトのID"
                  },
                  "order_id": {
                    "type": "string",
                    "description": "プロジェクトの位置"
                  }
                },
                "required": [
                  "board_id"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {

                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/favorites/{id}": {
      "delete": {
        "summary": "お気に入りプロジェクト削除",
        "operationId": "delete-boards-favorites",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "description": "お気に入りプロジェクトから削除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ]
    },
    "/v1/boards/favorites/update_order": {
      "post": {
        "summary": "お気に入りプロジェクト順序変更",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "operationId": "post-board-favorites-update_order",
        "description": "お気に入りプロジェクトの並び順を変更する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "board_id": {
                    "type": "number",
                    "description": "プロジェクトのID"
                  },
                  "order_id": {
                    "type": "number",
                    "description": "プロジェクトの位置"
                  }
                },
                "required": [
                  "board_id",
                  "order_id"
                ]
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/notification_config": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "get": {
        "summary": "お知らせ設定取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationConfig"
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-notifications",
        "description": "プロジェクトのお知らせ設定情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "summary": "お知らせ設定更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationConfig"
                }
              }
            }
          }
        },
        "operationId": "patch-boards-id-notifications",
        "description": "プロジェクトのお知らせ設定情報を更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/NotificationConfigPatchRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/activities": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "$ref": "#/components/parameters/per_page"
        },
        {
          "$ref": "#/components/parameters/page"
        }
      ],
      "get": {
        "summary": "行動履歴取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "activities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Activity"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-histories",
        "description": "プロジェクトの行動履歴を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/users": {
      "get": {
        "summary": "メンバー一覧取得",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "プロジェクトのID"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BoardUser"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-users",
        "description": "プロジェクトに所属するメンバーの一覧を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "メンバー追加",
        "operationId": "post-boards-id-users",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "プロジェクトのID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BoardUser"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "プロジェクトにメンバーを追加する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AddUserPayload"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/users/{user_id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "ユーザーのID"
        }
      ],
      "delete": {
        "summary": "メンバー削除",
        "operationId": "delete-boards-id-users",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "プロジェクトからメンバーを削除する"
      }
    },
    "/v1/boards/{id}/users/{user_id}/role": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "user_id",
          "in": "path",
          "required": true,
          "description": "ユーザーのID"
        }
      ],
      "put": {
        "summary": "メンバー権限更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardUser"
                }
              }
            }
          }
        },
        "operationId": "put-boards-id-users-user_id-role",
        "description": "プロジェクトメンバーの権限を更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/BoardUserRolePutRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/attachments": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "get": {
        "summary": "添付ファイル一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Attachment"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-attachments",
        "description": "添付ファイルの一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/attachments/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "添付ファイルのID"
        }
      ],
      "get": {
        "summary": "添付ファイルダウンロード",
        "tags": [],
        "operationId": "get-attachments-id",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          }
        },
        "description": "添付ファイルをダウンロードする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "添付ファイル削除",
        "operationId": "delete-attachments-id",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "description": "添付ファイルを削除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/lists": {
      "get": {
        "summary": "リスト一覧取得",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "プロジェクトのID"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "アーカイブされたかどうか"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "lists": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/List"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-lists",
        "description": "プロジェクト内リストの一覧を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "リスト作成",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "プロジェクトのID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        },
        "operationId": "post-boards-id-lists",
        "description": "リストを新規作成する",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListPostRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/lists/{list_id}/archive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "list_id",
          "in": "path",
          "required": true,
          "description": "リストのID"
        }
      ],
      "post": {
        "summary": "リストのアーカイブ",
        "operationId": "post-boards-id-lists-list_id-archive",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        },
        "description": "リストをアーカイブする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/lists/{list_id}/unarchive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "list_id",
          "in": "path",
          "required": true,
          "description": "リストのID"
        }
      ],
      "post": {
        "summary": "アーカイブリスト復元",
        "operationId": "post-boards-id-lists-list_id-unarchive",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        },
        "description": "アーカイブリストを復元する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/lists/{list_id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "list_id",
          "in": "path",
          "required": true,
          "description": "リストのID"
        }
      ],
      "patch": {
        "summary": "リスト情報更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        },
        "operationId": "patch-board-id-lists-list_id",
        "description": "リストの詳細情報を更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/ListPatchRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "summary": "リスト情報取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        },
        "operationId": "get-board-id-lists-list_id",
        "description": "リストの詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "アーカイブリスト削除",
        "operationId": "delete-board-id-lists-list_id",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "description": "アーカイブされたリストを削除する",
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/lists/update_order": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "リスト順序変更",
        "operationId": "post-boards-id-lists-update_order",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "lists": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/List"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "リストの並び順を変更する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_ids": {
                    "type": "array",
                    "description": "リストのIDの配列",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "required": [
                  "list_ids"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "get": {
        "summary": "タスク一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "tasks": {
                          "$ref": "#/components/schemas/Task"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-tasks",
        "description": "プロジェクト内タスクの一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "category_ids",
            "description": "ラベルのIDの配列"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "in": "query",
            "name": "assignee_ids",
            "description": "担当者のID"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "deadline_since",
            "description": "指定した日時以降の締め切りのタスクを取得する"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "description": "指定した日時以前の締め切りのタスクを取得する",
            "name": "deadline_until"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "followed",
            "description": "フォローされているかどうか"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "archived",
            "description": "アーカイブされているかどうか"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "to_do",
                  "done",
                  "cancel",
                  "pending"
                ]
              }
            },
            "in": "query",
            "required": false,
            "name": "status",
            "description": "タスクのステータス"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "タスク作成",
        "operationId": "post-boards-id-tasks",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "description": "タスクを新規作成する",
        "requestBody": {
          "$ref": "#/components/requestBodies/TaskPostRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/search": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        }
      ],
      "get": {
        "summary": "タスク一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "tasks": {
                          "$ref": "#/components/schemas/TaskSearch"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-tasks-search",
        "description": "プロジェクト内タスクの一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search_query",
            "description": "フリーワード検索用のクエリ"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks/{task_id}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "task_id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "patch": {
        "summary": "タスク情報更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "patch-boards-id-tasks-task_id",
        "description": "タスクの詳細情報を更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/TaskPatchRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "summary": "アーカイブタスク削除",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "operationId": "delete-boards-id-tasks-task_id",
        "description": "アーカイブされたタスクを削除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "summary": "タスク情報取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "get-boards-id-tasks-task_id",
        "description": "タスクの詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/tasks/{id}/move": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "post": {
        "summary": "タスク移動",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "post-tasks-id-move",
        "description": "タスクを移動する",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "board_id": {
                    "type": "number",
                    "description": "プロジェクトのID"
                  },
                  "list_id": {
                    "type": "number",
                    "description": "リストのID"
                  }
                },
                "required": [
                  "board_id",
                  "list_id"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks/{task_id}/archive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "task_id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "post": {
        "summary": "タスクアーカイブ",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "post-boards-id-tasks-task_id-archive",
        "description": "タスクをアーカイブする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks/{task_id}/unarchive": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "task_id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "post": {
        "summary": "アーカイブタスク復元",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destination_list_id": {
                    "type": "number",
                    "description": "復元先のリストID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "post-boards-id-tasks-task_id-unarchive",
        "description": "アーカイブタスクを復元する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/tasks/{id}/activities": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "get": {
        "summary": "アクティビティログ取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "activities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Activity"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-tasks-id-activities",
        "description": "タスクのアクティビティログを取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks/{task_id}/follow": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "task_id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "post": {
        "summary": "フォロー追加",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "operationId": "post-boards-id-tasks-task_id-follow",
        "description": "タスクをフォローする",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/boards/{id}/tasks/{task_id}/unfollow": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "プロジェクトのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "task_id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "post": {
        "summary": "フォロー解除",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "operationId": "post-boards-id-tasks-task_id-unfollow",
        "description": "タスクのフォローを解除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/tasks/{id}/comments": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        }
      ],
      "get": {
        "summary": "コメント一覧取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "comments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Comment"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CommonListResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-tasks-id-comments",
        "description": "タスク内コメントの一覧を取得する",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "summary": "コメント追加",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "operationId": "post-tasks-id-comments",
        "description": "コメントを新規追加する",
        "requestBody": {
          "$ref": "#/components/requestBodies/CommentUpdateRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/tasks/{id}/comments/{comment_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "タスクのID"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "comment_id",
          "in": "path",
          "required": true,
          "description": "コメントのID"
        }
      ],
      "delete": {
        "summary": "コメント削除",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            }
          }
        },
        "operationId": "delete-tasks-id-comments-comment_id",
        "description": "コメントを削除する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "summary": "コメント情報更新",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "operationId": "patch-tasks-id-comments-comment_id",
        "description": "コメントを更新する",
        "requestBody": {
          "$ref": "#/components/requestBodies/CommentUpdateRequestBody"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": []
      },
      "get": {
        "summary": "コメント情報取得",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-MonthlyRateLimit-Limit": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Limit"
              },
              "X-MonthlyRateLimit-Remaining": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Remaining"
              },
              "X-MonthlyRateLimit-Reset": {
                "$ref": "#/components/headers/X-MonthlyRateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "operationId": "get-tasks-id-comments-comment_id",
        "description": "コメントの詳細情報を取得する",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
[...]
